.overline {
  display: inline-block;
  background: #eee;
  position: relative; }

.description {
  display: inline-block;
  background: #ee9;
  position: relative; }

.overline::before {
  content: 'overline';
  display: block;
  position: absolute;
  font-size: 0.6rem;
  top: -.8rem;
  color: #000;
  opacity: .5; }

.description::before {
  content: 'description';
  display: block;
  position: absolute;
  font-size: 0.6rem;
  top: -.8rem;
  color: #000;
  opacity: .5; }
