//Add your own editor styles here or comment out the next line if you want to pull in the whole Bootstrap stuff
//@import "theme"; 

.overline {
	display: block;
	position: relative;
	border-left: 5px solid #eee;
	padding-left: 5px;
}
.description:not(#tinymce) {
	display: block;
	position: relative;
	border-left: 5px solid #eee;
	padding-left: 5px;
}

.overline::before {
	content: 'overline';
	display: block;
	position: absolute;
	font-size: 0.6rem;
	top: -.8rem;
	color: #666;
	background: #eee;
	border-left: 5px solid #eee;
	border-right: 5px solid #eee;
	margin-left: -10px;
}
.description:not(#tinymce)::before {
	content: 'description';
	display: block;
	position: absolute;
	font-size: 0.6rem;
	top: -.8rem;
	color: #666;
	background: #eee;
	border-left: 5px solid #eee;
	border-right: 5px solid #eee;
	margin-left: -10px;
}