@function get-container-width($key: 'xl') {
    @return map-get($container-max-widths, $key);
}

//.et_pb_section set white bg
//.et_builder_inner_content > * {
//	background-color: $white;
//}

//.et_pb_section margin is 0
// it was transfered to .et_pb_column
$divi-et-pb-section-padding:3rem;

.et_pb_section {
	padding: 0 0; //4% 0
}
.et_pb_row {
	padding: 0 0; //2% 0
	//width: 80%;
	max-width: get-container-width('xl');
	margin: auto;
	position: relative;

	//100% width
	&.fluid,
	.fluid & {
		max-width: 100%;
	}

	//Narrow width
	&.narrow,
	.narrow & {
		max-width: 960px;
	}
}

.et_pb_column {
	padding: $divi-et-pb-section-padding 15px;//80px
}


//MENU Module

//Hide mobile menu
.et_mobile_nav_menu {
	display: none;
}

//Make menu horizontal scroll on mobile
//Mobile
@include media-breakpoint-down(md) {

	.et_pb_fullwidth_menu .fullwidth-menu-nav > ul {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		//iOS scroll with momentum
		-webkit-overflow-scrolling: touch;

		//Hide scroll bar on webkit/chrome
		&::-webkit-scrollbar {
			display: none;
		}

		li {
			flex: 0 0 auto;

		}
	}

}


//TABS Module
.et_pb_tabs {
	border: 0 none;
}
.et_pb_all_tabs {
	background-color:transparent;
}
ul.et_pb_tabs_controls {
	background-color: transparent;
	border: 0 none;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

	//thin line separating tabs from content
	&::after {
		border: 0 none;
	}

	li {
		border: 0 none;
		margin: 0 .5rem;
		border-bottom: 2px solid transparent;

		//Active tab
		&.et_pb_tab_active {
			background-color: transparent;
			border-bottom: 2px solid $primary;
		}

		a {
			color: $primary;
			padding: .25rem;//4px
			font-weight: $font-weight-normal;//regular 400

			//Font Awesome icon
			i::after {
				content: "\f234";
				font-family: 'FontAwesome';
				font-size: .8em;
				display: inline-block;
				font-style: normal;
			}

			//Description
			em {
				display: block;
				color: $gray-600;
				font-size: .8em;
				text-align: center;
				line-height: 0.5rem;
				margin-bottom: 0.7em;
			}
		}
	}
}

.et_pb_tab {
	//text-align: center;
	padding: 30px;
}
