//Mobile
@include media-breakpoint-down(sm) {
	//Change font-size
	html {
		font-size: 13px;
	}
	h1 { font-size: 2.5rem; }
	h2 { font-size: 2.3rem; }
	h3 { font-size: 2.0rem; }
	h4 { font-size: 1.6rem; }
	h5 { font-size: 1.4rem; }
	h6 { font-size: 0.8rem; }
}

.wrapper {
	padding: 30px 0;
	//Change padding on HOME
	&.home {
		padding-top: 0;
	}
	//FIX padding on SINGLE
	&#single-wrapper {
		padding-bottom: 0;
		//Add padding to .container
		> .container {
			padding-bottom: 30px
		}
	}
	//Fix padding bottom after footer
	&#page-wrapper {
		padding-bottom: 0;
	}
}


// Main Header

$main-menu-height: 100px;
$submenu-height:   50px;

//Check if page template is 'transparent menu'
body.page-template-empty-transparentmenu {

	//Set main menu to transparent and absolute
	.wrapper-navbar {
		@extend %bg-gradient-dark-alpha;
		position: absolute;
		right: 0;
		left: 0;
		z-index: 20;

		.navbar-transparent {
			border-bottom-color: transparent;

			&.expanded {
			//mobile menu expanded
				background: rgba($primary, .75);
				padding-bottom: 1.5rem;
			}
		}


	}

	//Dont add margin if is menu
	.et-boc .et_builder_outer_content .et_builder_inner_content > .et_pb_section:first-child > *:not(.et_pb_fullwidth_menu) {
		// Add divi .et_pb_section margin
		// Curently the margin is 0
		padding-top: calc( #{$main-menu-height} );
	}
	.et-boc .et_builder_outer_content .et_builder_inner_content > .et_pb_fullwidth_section.submenu {
		// Add divi .et_pb_section margin
		margin-top: $main-menu-height;
		position: absolute;
		right: 0;
		left: 0;
		z-index: 19;
	}
	.et_pb_fullwidth_section.submenu + .et_pb_section {
		// Add divi .et_pb_section margin
		padding-top: calc( #{$main-menu-height} + #{$submenu-height} );
	}

		//submenu remove white background
		&.et-db #et-boc .et_pb_fullwidth_section .et_pb_fullwidth_menu {
			border-top: 1px solid rgba($light, .25);
			border-bottom: 1px solid rgba($light, .25);
			background-color: transparent;
			color: $light;
		}

}



//Main menu
.navbar {
	border-bottom: 1px solid $border-color;

	//Desktop
	@include media-breakpoint-up(md) {
		//Set height only on desktop
		height: $main-menu-height;

		//Set nav menu width to 100%
		.navbar-nav {
			width: 100%;

			//Arrumar
			.nav-link {
				padding-right: 1rem;
   				padding-left: 1rem;
			}

			//vertical align center
			li.nav-item {
				align-self:center;
			}
		}
	}
	

	//Mobile container
	@include media-breakpoint-down(lg) {
		.container {
			max-width: 100%;
			padding: 0;
			//background:#0f0;
		}
	}

}
.navbar-light .navbar-nav .nav-item:not(.child-btn) .nav-link {
	color: $dark;
	&:hover {
		color: $dark;
	}
}
//align menu right
.navbar-expand-lg .navbar-collapse {
	flex-direction: row;
    justify-content: flex-end;
}

// Logo
.custom-logo-link img {
	width: 145px;
	height: auto;
	//mobile
	@include media-breakpoint-down(md) {
		max-width: 30vw;
	}
}

//TOP HEADER WIDGET
.top-header-widget {
	border-bottom: 1px solid $border-color;
	padding: 0;
	background: $white;
	@include media-breakpoint-up(md) {
		padding: 20px 0 10px;
	}
}

//SEARCH INPUT
.navbar .search-input-wrapper {
	padding: 0 2rem;
	@include media-breakpoint-down(md) {
		padding: 0 1rem;
		max-width: 60vw;
	}
}
.search-input-wrapper {
    max-width: 436px;
    width: 100%;
    input {
		@include border-default;
		@include box-shadow-default;
		background: $bg-light;
    }
    .input-group-append {
    	position: absolute;
    	right: 0;
    	z-index: 3;
    }
    button {
    	border:1px none transparent;
    	background: transparent;
    	color: $gray-500;
    	&:hover {
    		border:1px none transparent;
    		background: transparent;
    		color: $gray-600;
    	}
    	&:focus {
    		border:1px none transparent;
    		background: transparent;
    		color: $gray-600;
    		box-shadow:0 0 0 transparent;
    	}
    }
}


//DIVI SUBMENU

.et-boc .et_pb_fullwidth_section {
	z-index: 1;

	.et_pb_fullwidth_menu {
		height: $submenu-height;

		* {height: 100%;}

		.fullwidth-menu li {
			font-size: .875rem; //14px
			margin-right: 1.5rem; //40px
			padding: 0 .5rem;
			border-bottom: 2px solid transparent;

			//Set first-child as title
			&:first-child {
				font-size: 1rem;//16px
				font-weight: 600;//bold

				//desktop
				@include media-breakpoint-up(md) {
					//add margin (push) only on desktop
					margin-right:auto;
				}

				//Remove mouse event if active
				&.current-menu-item {
					pointer-events: none;
				}

				//mobile
				@include media-breakpoint-down(md) {
					//Hide first item on mobile
					display:none;
				}

			}

			//Add border to active menu item
			&.current-menu-item:not(:first-child):not(.menu-item-object-custom) {
				border-bottom: 2px solid $dark;
				position: relative;
				bottom: -1px;
				padding-bottom: 2px;

			//	&::after {
			//		content: '';
			//		width: 100%;
			//		height: 1px;
			//		background-color: $dark;
			//		position: absolute;
			//		right: 0;
			//		bottom: -3px;
			//	}
			}

			a {
				display: flex;
				flex-direction:column;
				justify-content:center;
				flex-wrap: wrap;

				//registered mark
				sup {
					top: inherit;
					line-height: 3rem;
				}
			}
		}
		.fullwidth-menu > li:last-child {
			//padding-right: 0;
		}
	}
}

body.et-db #et-boc .et_pb_fullwidth_section .et_pb_fullwidth_menu {
	border-bottom: 1px solid $border-color;
}


//FOOTER

.wrapper-footer,
.wrapper-footer-bottom,
.wrapper-footer-credits {
	a, p, div {		
		font-size: $font-size-sm;
	}
}
#wrapper-footer-full,
.wrapper-footer {
	background: $primary;
	color:$light;
}

//margins
.wrapper-footer-full {
	padding: 0;
	@include media-breakpoint-up(md) {
		padding: 20px 0 10px;
	}
	.container {
		padding: 0;
		@include media-breakpoint-down(md) {
			max-width:100%;
		}
	}
}

.wrapper-footer ul,
.wrapper-footer-bottom ul {
	@include remove-ul-padding;
}
.wrapper-footer li,
.wrapper-footer-bottom li {
	@include remove-list-style;
}

.wrapper-footer {
	h6 {
		margin-bottom: 2rem;
		color: $light;
		font-size: 1rem;
		text-transform: none;
	}
	li {
		margin-bottom: .875rem;
	}
	a {
		color:$light;
	}
} 

//Footer redes sociais + TOS
.wrapper-footer-bottom {
	background: $blue-dark;
	a {
		color: $light;
	}
	@include media-breakpoint-up(md) {
		ul {
			margin-bottom: 0;
		}
	}
	
	li {
		display: inline-block;
	}
	ul li:not(:last-child) {
		margin-right: 2em;
	}
	.social-links {
		text-align: right;
		a {
			font-size: $font-size-lg;
		}
		a:not(:last-child) {
			margin-right: 1em;
		}
		@include media-breakpoint-down(md) {
			text-align: left;
			a:first-child {
				margin-left: 15px;
			}
		}
	}
}

//Footer Last area - credits
.wrapper-footer-credits {
	background:$bg-blue-light;
	color: $dark;
	padding: 15px 0;
	@include media-breakpoint-up(md) {
		.site-info {
			text-align: left;
		}
	}
}



//SIDEBAR - Widgets

.sidebar aside:not(:first-child) {
	margin-top: 1.875rem;
}



// CONTENT
.card {
	
}








//Como Jogar
.section-comojogar {

.et_pb_row {

	//desktop
	@include media-breakpoint-up(md) {
		display: flex;
	}

		.et_pb_column {
			display: flex;
			flex-direction:column;
			justify-content:center;
			
			.et_pb_module {
			}

		}

	}

}


.section-conteudodacaixa {


	.img-h-custom {
		img, svg {
			height: 200px;
    		object-fit: contain;
		}
	}

}


//HISTORIA

//HISTORIA TIMELINE - DIVI
.historia-section-timeline {

	
	//mobile
	@include media-breakpoint-down(md) {
		//Add padding to mobile 
		padding-right: 15px;
		padding-left: 15px;
	}

	.et_pb_row:not(.title):not(:last-child) {

		&::before {
			content: '';
			width: .2rem;
			height: 100%;
			background:$black;
			position: absolute;
			right: calc(50% - 0.1rem);
		}

		.et_pb_column {
			padding: 0;
		}

		.et_pb_text_inner {
			background:$gray-200;
			border-radius: .5rem;

			h4 {
				background:$blue;
				color: $light;
				padding: 1.5rem;
				border-radius: .5rem .5rem 0 0;
			}

			p {
				padding-left: 1.5rem;
				padding-right: 1.5rem;

				&:last-child {
					padding-bottom: 1.5rem;
				}
			}

		}

		//only desktop
		@include media-breakpoint-up(md) {
			//SETAS
			&:nth-child(even) h4::before {
				content: '';
				width: 0px;
				height: 0px;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-right: 10px solid $blue;
				display: block;
				position: absolute;
				left: -10px;

			}
			&:nth-child(odd) h4::before {
				content: '';
				width: 0px;
				height: 0px;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-left: 10px solid $blue;
				display: block;
				position: absolute;
				right: -10px;
			}
		}

	}

}



//TIME LINE PAGE

.timeline-section-timeline {

	.et_pb_column {
		padding-top: 0;
	}

	.cool-timeline-wrapper {
		padding-top: 0;
		margin-top: 0;
	}

	.timeline-main-title {
		color: transparent;
		background:url('http://local.pantanaldigital.com.br/jogodatransformacao/wp-content/uploads/2019/06/jogodatransformacao-logo-svg.svg');
		width: 200px;
		height: 150px;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.timeline-content {

		
	}

	.cool-timeline .timeline-post .timeline-content h2.content-title, .ctl-popup-content h2 {
		font-weight: bold !important;
	}

}














//Formacao
.section-formacao-featured {

	&::after {
		content: '';
		width: 100%;
		height: 200px;
		position: absolute;
		z-index: 1;
		bottom: 0;
		background: linear-gradient(0deg, rgba($black, 0.4), transparent) repeat-x;
	}

	&.custom-height {
		height: 46vw;
		background-position: top;
		display: flex;
		flex-direction: row;

		.et_pb_row {
			align-self: flex-end;
			margin: 0 auto;
		}
	}

	//mobile
	@include media-breakpoint-down(md) {
		&.custom-height {
		margin-bottom: 46vw;

			.et_pb_row {
				align-self: inherit;
				margin: 0 auto;
			}
		}
		h2 {
			color: $dark !important;
			margin-top: 42vw;
		}
	}

}











//FACILITADORES - LIST

	//LISTA

.jt_filter {

	span {
		cursor: pointer;
	
		&:not(:last-child) {
			margin-right: 1em;
		}

		&.selected {
			text-decoration: underline;
		}
	}

	//mobile
	@include media-breakpoint-down(md) {
		//set display block - one per line
		span {
			display: block;
			margin-right: 0 !important;
		}
	}

}

.facilitadores-list {

	//remove ul li styles
	&, ul {padding: 0;}
	li {list-style-type: none;}

	.facilitador {
		margin-bottom: 1.5rem;

		.card {
			height: 100%;
			padding: 0 .5rem .5rem;
			
			.avatar {
				margin: 0 auto;
				
				&::before {
					content: '';
					background: #fff;
					width: 100%;
					height: 40px;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 0;
				}

				a {
					width: 130px;
					height: 130px;
					display: inline-block;
					overflow: hidden;
					position: relative;
				}
				img {
					object-fit:cover;
					width: 100%;
					height: 100%;
				}
			}

			.name {
				margin: 1rem 0;
				font-size: $font-size-lg;//20px
				font-weight: 600;
			}
			
			.certificacoes {
				display: flex;
				flex-direction:column;

				li {
					width: auto;
					display: inline;
					align-self: center;
					font-size: $font-size-sm;
					color: $gray-600;
					font-weight: 500;
				}

			}
			address {
				padding: 1rem 0;
				font-size: $font-size-sm;
				margin-bottom: 0;
				
				.city{}
				.state{}
				.country{text-transform: capitalize;}

			}

		}


	}

}


//FACILITADOR - AUTHOR PAGE
.author {

	#page-wrapper {
		//remove padding top
		padding-top: 0;
	}

	//remove padding
	.content-area {
		padding-right: 0;
		padding-left: 0;
		margin-bottom: 4rem;

		//Photo + Name
		.profile-header {
			background-position: center;
			position: relative;
			
			&::after {
				content: '';
				width: 100%;
				height: 100px;
				position: absolute;
				z-index: 1;
				bottom: 0;
				background: linear-gradient(0deg, rgba($primary, 0.65), transparent) repeat-x;

			}

			.photo-area {
				position: relative;
				z-index: 2;
				bottom: -50px;

				//mobile
				@include media-breakpoint-down(md) {
					.author-photo {
						margin: 0 auto;
					}
				}

				.author-photo {
					width: 200px;
					height: 200px;
					border-radius: 100%;
					overflow: hidden;
					border: 5px solid #fff;
					background: #fff;

					img {
						width: 100%;
						height: 100%;
						object-fit:cover;
					}
				}
			}

			.name-area {
				justify-content: flex-end;
				display: flex;
				flex-direction: column;
				position: relative;
				z-index: 2;
				
				h1 {
					color: $light;
				}

				//mobile
				@include media-breakpoint-down(md) {
					text-align: center;
					margin-top: 5rem;
				}
			}

		}

		//Contact info + Description
		.contact-area {
			//fix ul li styles
			ul {padding: 0; margin:0;}
			li {list-style-type: none;}

			margin-top: 50px;

			address {
				.country {text-transform: capitalize;}
			}

			.social-icons {
				li {
					display: inline-block;
					font-size: $font-size-lg;
					margin-right: .5rem;

					a {
						text-decoration: none;
					}
				}
			}
		}

		.description-area {
			margin-top: 50px;

			.certificacoes {
				padding: 0;
				margin:0;
				
				li {
					list-style-type: none;

					span {
						padding-right: .5rem;
						color: $gray-600;
						font-weight: 500;
					}

				}
				
			}

			.author-bio {}
		}


	}

}



//ONDE COMPRAR

.ondecomprar-section-lojas {

	h4 {
		margin-top: 2rem;
	}
	.btn {
		padding-left: 0;
		padding-top: 0;
	}
}








// ONDE JOGAR
// MODERN TRIBE
// THE EVENTS CALENDAR

//EVENTS LIST

//lista
#tribe-events-content.tribe-events-list {




	//lista wrapper
	.tribe-events-loop {

		//month separator
		.tribe-events-list-separator-month {
			background-color: transparent;
			padding: 0;

			//mobile
			@include media-breakpoint-down(md) {
				text-align: center;
			}

			span {
				font-size: $h4-font-size;
				font-weight: normal;
			}
		}


		//Single wrapper
		.type-tribe_events {
			//Desktop
			@include media-breakpoint-up(md) {
				box-sizing: content-box;
				position: relative;
				min-height: 300px;

				& > *:not(.tribe-events-event-image) {
					margin-left: calc(300px + 30px);
				}
			}

			//Título do evento
			.tribe-events-list-event-title {}


			// Data e local
			.tribe-events-event-meta {
				color: $gray-600;


				//Desktop
				@include media-breakpoint-up(md) {
					//dividir em 2 colunas
					.author.location {

						//background:$bg-light;
						padding: 1rem 0;

						& > * {
						width: auto;
						margin: 0;
						display: inline-block;
						max-width: 50%;
						}
						& > *:first-child {
							margin-right: 1.5rem;
						}
					}

					
				}

				//Data e hora
				.tribe-event-schedule-details {
					&::before {
						content: "\f133";
						font: normal normal normal 1rem/1 FontAwesome;
						position: absolute;
						margin-top: 2px;
					}
					.tribe-event-date-start {
						padding-left: 1.5rem;
					}
				}

				//Local e endereço
				.tribe-events-venue-details {
					padding-left: 1.5rem;

					//mobile
					@include media-breakpoint-down(md) {
						padding-left: 2.5rem;
						margin-bottom: 0;
					}

					&::before {
						content: "\f041";
						font: normal normal normal 1rem/1 FontAwesome;
						position: absolute;
						margin-top: 2px;
						margin-left: -1.3rem;
						line-height: 2em;
					}

					//GMaps link
					a.tribe-events-gmap {
						color: $primary;

						//Desktop
						@include media-breakpoint-up(md) {
							transition: .3s all;
							opacity: 0;

							:hover > & {
								opacity: 1;
							}

						}

					}

				}


			}

			//Preço
			.tribe-events-event-cost {

				span {
					background:$white;
					border:0 none;
					border-radius: 0 0 .5rem;
				}

				//Desktop
				@include media-breakpoint-up(md) {
					position: absolute;
					top: 2.25em;
					margin-left: 0;
					z-index: 1;
				}
				//mobile
				@include media-breakpoint-down(md) {
					position: absolute;
				}
			}


			//Image
			.tribe-events-event-image {
				width: 300px;
				height: 300px;
				a img {
					width: 300px;
					height: 300px;
					object-fit:cover;
				}

				//Desktop
				@include media-breakpoint-up(md) {
					position: absolute;
					top: 2.25em;
				}
				//mobile
				@include media-breakpoint-down(md) {
					margin: 0 auto 1rem;
				}
			}

			//Description
			.tribe-events-list-event-description {

				//Desktop
				@include media-breakpoint-up(md) {
					width: calc(100% - 330px);
					padding-right: 0;
				}

				p{}
				a.tribe-events-read-more {}
			}

		}

	}

}

//SINGLE EVENT
.single-tribe_events {


	//mobile
	@include media-breakpoint-down(md) {
		.tribe-events-schedule h5 {
			margin-bottom: 0;
		}
	}

	.tribe-events-event-image {
		width: 600px;
		height: auto;
		max-width: 100%;
		margin: 0 auto 1rem;

		img {
			width: 100%;
			height: 100%;
			object-fit:cover;
		}

	}



}


